@model ProductItem
@{
    ViewData["Title"] = "Add";
}

<h1>@Model.Product.Name isimli ürün sepete eklendi.  </h1>
<p>
    Tüm sepeti görmek için <a asp-action="Index" asp-controller="Shopping">tıklatın</a>
</p>

